doctype html
html
  include head.pug
  link(href="../css/downloader.css" rel="stylesheet")
  body
    .dlWrapper
      button.button(style="margin-left: 1rem;")
        a#dl(download)="Download file"
      .wrapper
        .progressWrapper
          .progressBar
            .progressSegment#progressSegment
          p.progressMessage#progressMessage="Downloading..."
      script(type="module" src="../js/ManagerWorker.js")
      script(type="module" src="../js/Downloader.js")
      script(type="module" src="../js/Main.js")