head
    link(href="https://vjs.zencdn.net/7.6.6/video-js.css" rel="stylesheet")
    
    script(src="https://cdn.jsdelivr.net/npm/video.js@7.5.0/dist/video.js")
    script(src="https://cdn.jsdelivr.net/npm/mp4box@0.3.20/dist/mp4box.all.min.js")
    script(src="../js/knockout-3.5.1.js")
    script(src="../js/jimp.min.js")
    script(src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css")
    link(rel="stylesheet" type="text/css" href="../css/main.css")
    link(href="https://fonts.googleapis.com/css?family=Allan:400,700&display=swap" rel="stylesheet")
    script(src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/dashjs/3.0.2/dash.all.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/videojs-contrib-dash/2.11.0/videojs-dash.min.js")
    <!-- City -->
    link(href="https://unpkg.com/@videojs/themes@1/dist/city/index.css" rel="stylesheet")

    <!-- Fantasy -->
    link(href="https://unpkg.com/@videojs/themes@1/dist/fantasy/index.css" rel="stylesheet")

    <!-- Forest -->
    link(href="https://unpkg.com/@videojs/themes@1/dist/forest/index.css" rel="stylesheet")

    <!-- Sea -->
    link(href="https://unpkg.com/@videojs/themes@1/dist/sea/index.css" rel="stylesheet")
    script(src="../js/mpdParser.js")
    title Kloak Video