doctype html
html
  include head.pug
  body
    video#video.video-js(controls)
      //- source(src="https://pmd.cdn.turner.com/cnn/big/health/2020/02/20/caption/coronavirus-how-it-unfolded-lon-orig-ja-tp.cnn_3115368_768x432_1300k.mp4" type="video/mp4")
      //- source(src="//vjs.zencdn.net/v/oceans.webm" type="video/webm")
    //- h1="Testing"
    //- video#video.video(preload="metadata" controls)
    //- input#video_seeker.video_seeker(type="range" step=".5" min="0" value="0" max="50")
    script(type="text/javascript" src="../js/test.js")